.tutorwrapper{
       height: auto;
       width: 100%;
       float: left;
       padding-top: 4%;
              padding-bottom: 4%;
       
       
    

}
.tutorleft{
    height:100%;
    width:50%;
    float:left;
}
.tutorright {
 
    float: left;
}
.carouselcontent{
    height:400px;
     width: 100%;
    background-color: #286090;
}
.carouselcontent1 {
    height: 400px;
    width: 100%;
    background-color: #286090;
}
.carouselcontent2 {
    height: 400px;
     width: 100%;
    background-color:#286090;
}
.carouselwrapper{
  margin-top: 33px;
  width: 600px;
  height: 400px;
  margin-left: 50px;
}
.tutdum{
    height:200px;
}
.totor{
    cursor: pointer;
}